@charset "UTF-8";
.body {
    font-family:"Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}
.body h1 {
    font-family: "Josefin Sans",sans-serif;
    font-size: 2em;
    letter-spacing: 48px;
    text-shadow: 5px 5px 3px rgb(165, 165, 151);
    ;
}
#basic p {
    font-weight: bold;
}
.skyblue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203);
}
